/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 

// font size
.post-content p, .post-content li {
   font-size: 80%;
   color: #515151;
}

// display RSS icon properly
.svg-icon {
  width: 23px;
  height: 23px;
}
